/*
* @Author: Marte
* @Date:   2017-04-20 10:58:54
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-20 16:33:26
*/
.box {
  width: 500px;
  height: 400px;
  border: 1px solid #aaa;
  position: relative;
  margin: 200px auto;
}
.box .content {
  width: 100px;
  height: 100px;
  outline: 1px solid #999;
  float: left;
  text-align: center;
  line-height: 100px;
}
.box .content:nth-child(1) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
}
.box .content:nth-child(1):hover {
  background: rgba(107, 167, 4, 0.8);
}
.box .content:nth-child(2) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
}
.box .content:nth-child(2):hover {
  background: rgba(216, 28, 83, 0.8);
}
.box .content:nth-child(3) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
}
.box .content:nth-child(3):hover {
  background: rgba(43, 186, 176, 0.8);
}
.box .content:nth-child(4) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
}
.box .content:nth-child(4):hover {
  background: rgba(246, 91, 221, 0.8);
}
.box .content:nth-child(5) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
}
.box .content:nth-child(5):hover {
  background: rgba(154, 148, 79, 0.8);
}
.box .content:nth-child(6) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  float: right;
}
.box .content:nth-child(6):hover {
  background: rgba(77, 195, 178, 0.8);
}
.box .content:nth-child(7) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 0px;
  top: 200px;
}
.box .content:nth-child(7):hover {
  background: rgba(222, 13, 13, 0.8);
}
.box .content:nth-child(8) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 0px;
  top: 300px;
}
.box .content:nth-child(8):hover {
  background: rgba(34, 108, 206, 0.8);
}
.box .content:nth-child(9) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 100px;
  top: 300px;
}
.box .content:nth-child(9):hover {
  background: rgba(194, 88, 150, 0.8);
}
.box .content:nth-child(10) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 200px;
  top: 300px;
}
.box .content:nth-child(10):hover {
  background: rgba(54, 185, 69, 0.8);
}
.box .content:nth-child(11) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 300px;
  top: 300px;
}
.box .content:nth-child(11):hover {
  background: rgba(27, 176, 255, 0.8);
}
.box .content:nth-child(12) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 400px;
  top: 300px;
}
.box .content:nth-child(12):hover {
  background: rgba(219, 94, 249, 0.8);
}
.box .content:nth-child(13) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 400px;
  top: 200px;
}
.box .content:nth-child(13):hover {
  background: rgba(250, 196, 213, 0.8);
}
.box .content:nth-child(14) {
  /*$color1: random(255);
  $color2: random(255);
  $color3: random(255);
  background:rgba($color1,$color2,$color3,0.8);*/
  position: absolute;
  right: 400px;
  top: 100px;
}
.box .content:nth-child(14):hover {
  background: rgba(234, 194, 150, 0.8);
}
